<div class="container">
  <h2 class="title">商品新規登録</h2>

  <table class="item-forms">
    <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
      <tr><th><label for="item-image">商品画像</label></th>
        <td><%= f.attachment_field :image, id: "item-image", class: "item image" %></td></tr>
      <tr><th><label for="item-name">商品名</label></th>
        <td><%= f.text_field :name, placeholder:"商品名", id: "item-name", class: "item name" %></td></tr>
      <tr><th><label for="item-description">商品説明</label></th>
        <td><%= f.text_area :introduction, placeholder:"ここに説明文を記述します", id: "item-description", class: "item description" %></td></tr>
      <tr><th><label for="item-genre">ジャンル</label></th>
        <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--", id: "item-genre", class: "item genre" %></td></tr>
      <tr><th><label for="item-price">税抜価格</label></th>
        <td><%= f.text_field :price, placeholder:"1000", id: "item-price", class: "item price" %>円</td></tr>
      <tr><th><label for="item-status">販売ステータス</label></th>
        <td><%= f.radio_button :is_active, true %><%= f.label :is_active, '販売中', value: true, class: "item status" %>
            <%= f.radio_button :is_active, false %><%= f.label :is_active, '販売停止中', value: false, class: "item status" %></td></tr>
  </table>
      <div class="actions">
        <%= f.submit "新規登録", class: "button2" %>
      </div>
    <% end %>
</div>