<div class="container">
  <h2 class="title"><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h2>

  <table>
    <tr class="customer-record">
      <th>会員ID</th>
      <td><%= @customer.id %></td>
    </tr>
    <tr class="customer-record">
      <th>氏名</th>
      <td><%= @customer.last_name %> <%= @customer.first_name %></td>
    </tr>
    <tr class="customer-record">
      <th>フリガナ</th>
      <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
    </tr>
    <tr class="customer-record">
      <th>郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr class="customer-record">
      <th>住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr class="customer-record">
      <th>電話番号</th>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr class="customer-record">
      <th>メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
    <tr class="customer-record">
      <th>会員ステータス</th>
      <td>
        <% if @customer.is_active == true %>
          <p class="status-true"><strong>有効</strong></p>
        <% else %>
          <p class="status-false"><strong>無効</strong></p>
        <% end %>
      </td>
    </tr>
    <tr class="customer-record">
      <th> </th>
      <td><%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "button3" %></td>
    </tr>
  </table>

</div>