<h2>ジャンル一覧・追加</h2>

<%= form_with model: @genre, url:'/admin/genres', method: :post do |f| %>
  <%= f.label :ジャンル名 %>
  <%= f.text_field :name %>
  <%= f.submit '新規登録' %>
<% end %>

ジャンル<br>
<% @genres.each do |genre| %>
  <%= genre.name %>
  <%= link_to "編集する", edit_admin_genre_path(genre.id) %><br>
<% end %>