<h2>注文情報入力</h2>

<%= form_with model: @order, local: true, url:'confirm' do |order| %>
  <h3>支払い方法</h3>
    <div>
      <%= order.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= order.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
    </div>
    <div>
      <%= order.radio_button :payment_method, Order.payment_methods.key(1)%>
      <%= order.label :payment_method, Order.payment_methods_i18n[:transfer] %>
    </div>

  <h3>お届け先</h3>
    <div>
      <%= order.radio_button :address_id, "1" %>
      <%= order.label :address_id, "ご自身の住所" %>
      <%= current_customer.my_address_display %>
    </div>
    <div>
      <%= order.radio_button :address_id, "2" %>
      <%= order.label :address_id, "登録済み住所から選択" %>
      <%= order.select :address_select, options_from_collection_for_select(current_customer.addresses.all, :id, :address_display) %>
    </div>
    <div>
      <%= order.radio_button :address_id, "3" %>
      <%= order.label :address_id, "新しいお届け先" %><br>
        郵便番号（ハイフンなし）  <%= order.text_field :postal_code, placeholder:"0000000" %><br>
        住所  <%= order.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0" %><br>
        宛名  <%= order.text_field :name, placeholder:"令和道子" %>
    </div>
    <%= order.hidden_field :shipping_cost, :value => @order.postage %>
    <%= order.hidden_field :total_payment, :value => @order.payment %>
    <%= order.hidden_field :status, :value => Order.statuses.key(0) %>
  <%= order.submit "確認画面へ進む" %>
<% end %>