<div class="container">
  <h2 class="title">ログイン</h2>

  <div class="container2">
    <h4 class="title">会員の方はこちらからログイン</h4>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="field">
        <tr>
          <th><%= f.label :メールアドレス %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"sample@example.com", class: "admin_login_field" %></td>
        </tr>
        <tr>
          <th><%= f.label :パスワード %></th>
          <td><%= f.password_field :password, autocomplete: "current-password", class: "admin_login_field" %></td>
        </tr>
      </table>

      <div class="actions">
        <%= f.submit "ログイン", class: "button" %>
      </div>
    <% end %>
  </div>
  <div class="container4">
    <h4 class="title">会員登録がお済みでない方</h4>
    <div><a href="sign_up" >こちら</a>  から新規登録を行ってください。</div>
  </div>
</div>


