<div class="container">
  <h2 class="title">商品一覧</h2>

  <div class="flex-box">
  <% @items.each do |item| %>
    <div class="container2">
      <%= link_to item_path(item.id) do %>
        <div>
          <%= image_tag attachment_url(item, :image, :fill, 210, 140, format: "jpg") %>
        </div>
        <p><%= item.name %></p>
        <p>¥<%= item.price.to_s(:delimited) %></p>
      <% end %>
    </div>
  <% end %>
  </div>

  <div class="paginate">
    <%= paginate @items %>
  </div>

</div>


